@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<b style="color:wheat">Project made by us : Aymen Bouhaha , Ahmed Frikha , Roua Hajji</b>
<p>
    Mucho Texto is a reaction and image macro based on a fan art depiction of the Star Wars character Yoda dressed in a hip-hop fashion, coupled with the phrase "Mucho texto" (which translates to "Too much text") or the snowclone Mucho X (which translates to "Too much X"). The meme is often used to ignore extensive posts full of text, such as rants, arguments or apologies that the reader deems are too daunting
</p>